@import './variables';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.loader{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.content{
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    .top{
        width: 100%;
        height: 100px;
        position: relative;
        display: flex;
        padding: 0px 60px;
        justify-content: space-between;
        align-items: center;
        .logo{
            position: relative;
            img{
                width: 55px;
                height: 55px;
                object-fit: cover;
                border-radius: 4px;
            }
            h5{
                display: inline-block;
                text-align: center;
                position: absolute;
                top: 32%;
                font-size: 1.5rem;
                margin-left: 10px;
                letter-spacing: 1px;
                color: $primary;
            }
        }
        .icon{
            cursor: pointer;
            .userIcon1{
                font-size: 1.7rem;
            }
            .downIcon{
                font-size: 1.5rem;
                position: absolute;
                top: 44px;
                right: 46px;
            }
        }
    }
    .mid{
        padding-top: 30px;
    }
    .bottom{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background: $footer;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $midlight;
    }
}

@media (min-width : 650px){
    .content{
        width: 98%;
        margin-left: 1%;
    }
}